<mat-toolbar>
  <a href="#" class="portfolio-link">My Snapshot</a>
  <span class="spacer"></span>

  <!-- Menu icon, only shown on smaller screens -->
  <button *ngIf="isMobileView" mat-icon-button class="menu-icon" aria-label="Navigation menu"
    [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Navigation links for larger screens -->
  <div class="centered-list">
    <mat-list>
      <a href="#skillsandinterests">ABOUT</a>
      <a href="#workexperience">Work Experience</a>
      <a href="#education">EDUCATION</a>
      <a href="#memorableevents">Memorable Accomplishments & Challenges</a>
      <a href="#summary">Summary</a>
    </mat-list>
  </div>
</mat-toolbar>

<!-- Profile Section -->
<div class="profile-section">
  <img src="assets/docs/profile.jpg" alt="Profile Photo" class="profile-photo" />
  <h1 class="profile-name">Michael Lowenstein</h1>
  <p class="profile-title">Senior Software Engineer</p>

  <div class="profile-actions">
    <button mat-raised-button color="primary" class="action-button" (click)="scrollToSummary()">Hire Me</button>
    <a href="assets/docs/MichaelLowenstein_Resume.pdf" download="Resume - Michael Lowenstein.pdf">
      <button mat-raised-button color="primary" class="action-button">Download Resume`</button>
    </a>
  </div>
</div>

<!-- Mobile dropdown menu -->
<mat-menu #menu="matMenu">
  <a mat-menu-item href="#skillsandinterests">Skills & Interests</a>
  <a mat-menu-item href="#workexperience">Work Experience</a>
  <a mat-menu-item href="#education">EDUCATION</a>
  <a mat-menu-item href="#memorableevents">Memorable Accomplishments & Challenges</a>
  <a mat-menu-item href="#summary">Summary</a>
</mat-menu>
