:host {
  --handle-background-checked: #424998;
  --background-checked: #4249985e;
  --handle-background: #e4ecfe;
  --handle-border: 2px solid #424898;
  --track-border: 2px solid #424898;
  --tracker-background: #e4ecfe;
  --handle-size: 24px;

  &.up-down {
    --handle-background-checked: #e4ecfe;
    --background-checked: #e4ecfe;

    .toggle-handle {
      background: #e4ecfe url('/assets/icons/right_arrow.svg') no-repeat center / contain;
      transform: rotate(-90deg) translate3d(-50%, 0px, 0px);
      transform-origin: 0;
    }

    &.toggle-checked {
      .toggle-handle {
        transform: rotate(90deg) translate3d(-50%, 0px, 0px);
      }
    }

  }
}

:host {
  box-sizing: content-box;
  position: relative;
  width: 32px;
  height: 14px;
  padding: 12px;
  contain: strict;

  &.toggle-checked {
    .toggle-track {
      background-color: var(--background-checked);
    }

    .toggle-handle {
      background-color: var(--handle-background-checked);
      left: 100%
    }
  }
}

.toggle-track {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 14px;
  transition: background-color 0.16s ease 0s;
  background: var(--tracker-backgroundd);
  box-sizing: border-box;
  border: var(--track-border);
}

.toggle-handle {
  left: 0;
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  width: var(--handle-size);
  height: var(--handle-size);
  transition-duration: 0.46s;
  transition-property: left, transform, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  will-change: left, transform, background-color;
  contain: strict;
  border-radius: 50%;
  background: var(--handle-background);
  box-sizing: border-box;
  border: var(--handle-border);
}

button {
  left: 0;
  top: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  outline: none;
}
