<header class="page-header">
  <mll-navbar #nav class="app-nav"
    (toggling)="onToggling($event)"
    (scrolling)="onScrolling($event)"
    (navigating)="onNavigating($event)">
  </mll-navbar>
</header>
<mat-sidenav-container class="sections-container">
  <!-- Sidebar Navigation -->
  <mat-sidenav #sidenav mode="side" class="sections-nav" [opened]="sidebarVisible()">
    <mll-sidebar
      #sidebar
      [visible]="sidebarVisible()"
      (focusing)="onChangeFocus($event)"
      >
    </mll-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sections-content">
    <!-- Toggle Button -->
    <button mat-icon-button class="toggle-btn" (click)="toggleSidebar()">
      <mat-icon>{{ sidebarVisible() ? 'close' : 'menu' }}</mat-icon>
    </button>
    <mll-business-card (explore)="onExplore()"></mll-business-card>
    <mll-sections #sections *ngIf="sidebarVisible()" [activated]="focusing()"></mll-sections>
  </mat-sidenav-content>
</mat-sidenav-container>