.footer {
  background-color: #113D60;
  text-align: center;
  min-height: 50px;
  color: white;
}

.footer-content {
  max-width: 1200px;
}

.footnote {
  margin-top: 15px !important;
  margin-bottom: -10px;
  padding: 8px;
}
