<header class="page-header">
  <mll-navbar #nav class="app-nav" (toggling)="onToggling($event)" (navigating)="onNavigating($event)">
  </mll-navbar>
</header>

<!--
<div class="login-container">
  <h2>Login</h2>

  <div *ngIf="!otpSent">
    <label>Enter your email (Username):</label>
    <input type="text" [(ngModel)]="username" />
    <button (click)="requestOtp()">Request OTP</button>
  </div>

  <div *ngIf="otpSent">
    <label>Enter OTP:</label>
    <input type="text" [(ngModel)]="otp" />
    <button (click)="verifyOtp()">Verify OTP</button>
  </div>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
-->

<div class="container">
  <div class="form-box login">
    <form action="#" *ngIf="!otpSent">
      <h1>Login</h1>
      <div class="input-box" >
        <input type="text" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="forgot-link">
        <a href="#">Forgot Username/Email?</a>
      </div>
      <button type="submit" class="btn">Request OTP</button>
    </form>
    <form action="#" *ngIf="otpSent">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="number" placeholder="OTP Code" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="forgot-link">
        <a href="#">Request New OTP?</a>
      </div>
      <button type="submit" class="btn">Verify OTP</button>
    </form>
  </div>

  <div class="form-box register">
    <form action="#">
      <h1>Registration</h1>
      <div class="input-box">
        <input type="text" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Email" required>
        <i class='bx bxs-envelope'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <button type="submit" class="btn">Register </button>
    </form>
  </div>

  <div class="toggle-box">
    <div class="toggle-panel toggle-left">
      <h1>Hello, Welcome!</h1>
      <p>Don't have an account?</p>
      <button class="btn register-btn">Register</button>
    </div>

    <div class="toggle-panel toggle-right">
      <h1>Welcome Back!</h1>
      <p>Already have an account?</p>
      <button class="btn login-btn">Login</button>
    </div>
  </div>
</div>

<!--
<div class="container">
  <form (ngSubmit)="requestOtp()" *ngIf="!otpSent">
    <input type="email" [(ngModel)]="username" name="username" required autofocus>
    <button type="submit" [disabled]="loading">
      <span *ngIf="!loading">Get OTP</span>
      <span *ngIf="loading" class="spinner"></span>
    </button>
  </form>

  <form (ngSubmit)="verifyOtp()" *ngIf="otpSent">

    <input type="text" maxlength="6" [(ngModel)]="otp" name="otp" required autofocus>
    <div class="otp-container">
      <input class="otp-input" maxlength="1"
        *ngFor="let digit of otpDigits; let i = index"
        (input)="onInput($event, i)"
        (keydown)="onKeyDown($event, i)" #otpInput>
    </div>

    <button type="submit" [disabled]="loading">
      <span *ngIf="!loading">Verify</span>
      <span *ngIf="loading" class="spinner"></span>
    </button>
    <div *ngIf="resendTimeout > 0">
      Resend OTP in {{ resendTimeout }}s
    </div>
    <button *ngIf="resendTimeout <= 0" (click)="requestOtp()">Resend OTP</button>
  </form>

</div>
-->
