* {
  font-family: 'Montserrat';
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sections-container {
  overlay: auto;
  display: flex;
  height: 90vh;
  width: 100%;
}
:host {
  display: block;
  // background-color: #1a202c;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 0 2rem 2rem 2rem;
}
