
<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/icons/logo.png" alt="My Logo"/>
    </a>
    <button class="navbar-toggle" (click)="toggleMenu()">☰</button>
    <ul [class.active]="menuOpen" class="navbar-links">
      <li *ngFor="let link of links" class="nav-item">
        <span *ngIf="link.ready">
          <a class="nav-link" routerLink="{{link.path}}">{{link.label}}</a>
        </span>
        <span *ngIf="!link.ready">
          <a class="nav-link disabled-link"
            routerLink="{{link.path}}"
            matTooltip="Coming Soon!"
          >
            {{link.label}}
          </a>
        </span>

      </li>
    </ul>
  </div>
</nav>
