<div class="card" [class.shrink]="shrunk()">
  <div
    class="stats-container"
    (click)="nextStat()"
    [class.rotating]="autoRotate()">
    <span>{{ stats[currentStat()] }}</span>
  </div>
  <img class="card-image" src="assets/docs/profile.jpg" alt="Profile Picture">
  <h3 class="card-banner">Michael Lowenstein</h3>
  <h5 class="card-sub-banner">Senior Software Engineer | Canada</h5>
  <p class="card-greeting">Welcome to my portfolio - take a look around!</p>
  <button mat-raised-btn class="card-action" (click)="expand()">Take a look around?</button>
</div>

