<blockquote class="education-writing" *ngFor="let metric of metrics">
  <span class="metric-name">
    <strong>{{metric.degree}}</strong>
  </span> <br><br>
  <span class="metric-intro">
    FACULTY:<br>
    <span class="metric-field" *ngIf="metric">
      <div [innerHTML]="util.sanitizeHtml(metric.field)"></div><br>
    </span>
    <div class="edu-spacer"></div>
    SPECIALIZATION:<br>
    <span *ngIf="metric.specialty">{{metric.specialty}}<br><br></span>
  </span>
  <div class="spacer"></div>
  <strong class="metric-institution">INSTITUTION</strong> <br>
  <span class="bullet-point-list">
    <mat-icon class="bullet-point">chevron_right</mat-icon>
    <span [innerHTML]="util.sanitizeHtml(metric.institution)"></span>
    <span [innerHTML]="util.sanitizeHtml(metric.years)"></span><br>
  </span><br>
</blockquote>
