.sidebar {
  width: 200px;
  background: #183b63;
  color: white;
  height: 100vh;
  position: fixed;
  left: -200px;
  top: 0;
  transition: left 0.5s ease;
  padding: 20px;
  font-family: 'Montserrat';
}

.sidebar.visible {
  left: 0;
}
