
<app-spinner *ngIf="isLoading"></app-spinner>
<main [@routeAnimations]="prepareRoute(outlet)" style="position: relative;">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
<footer class="footer-toolbar">
  Copyright 2025 - Michael Lowenstein
</footer>

<!-- Landing Card -->
<!-- <section class="landing-card">
  <img src="assets/profile.png" alt="Michael Lowenstein" class="profile-pic" />
  <h1>Michael Lowenstein</h1>
  <h2>Senior Software Engineer</h2>
  <button (click)="scrollToDebut()" class="explore-button">Explore ↓</button>
</section>

<!-- Debut Section -->
<!-- <section #debutSection class="debut-container" [@staggeredFadeIn]>
  <mll-debut></mll-debut>
</section> -->

<!--
<footer class="footer">
  Copyright © 2025 - Michael Lowenstein
</footer> 

-->
