// home.component.scss
.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background: linear-gradient(135deg, #eceff1 0%, #cfd8dc 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #37474f;
  margin-top: 10px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #607d8b;
}

p {
  font-size: 1rem;
  color: #546e7a;
  margin-top: 10px;
  line-height: 1.5;
}

.grid-element {
  display: block;
  height: 50%;
  width: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.action-items {
  float: right !important;
  margin-left: 30%;
}

.page-writing {
  width: 45vw;
  word-break: break-word;
}

p-tabView {
  width: 100%;
  margin-top: 20px;
}


