<mll-navbar #nav class="app-nav"></mll-navbar>
<span *ngIf="loading$ | async">
  <mll-spinner class="init-loader"></mll-spinner>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
  <mll-loader #loader></mll-loader>
</span>
<div [@routerSlideAnimation]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
  <mll-feature #feature *ngIf="onHomePage"></mll-feature>
  <!-- <mll-loader #loader *ngIf="onHomePage"></mll-loader> -->
<mll-footer class="app-footer"></mll-footer>
