<form [formGroup]="form" (submit)="submit()">
  <div *ngFor="let field of fields">
    <label>{{ field.label }}</label>
    <input
      *ngIf="field.type === 'text'"
      [type]="field.type"
      class="dff-text"
      [required]="field.required"
      [formControlName]="field.key"
      [placeholder]="field.placeholder"
      />
    <textarea
      class="dff-textarea"
      *ngIf="field.type === 'textarea'"
      [required]="field.required"
      [formControlName]="field.key"
      [placeholder]="field.placeholder"
      ></textarea>
      <select
        class="dff-select"
        [required]="field.required"
        [formControlName]="field.key"
        *ngIf="field.type === 'select'">
        <mat-option class="dff-select-option"
          *ngFor="let option of field.options"
          [value]="option">
          {{ option }}
        </mat-option>
      </select>
      <mat-checkbox
        class="dff-checkbox"
        [formControlName]="field.key"
        *ngIf="field.type === 'checkbox'">
        {{field.label}}
      </mat-checkbox>
      <input
        *ngIf="field.type === 'date'"
        class="dff-date"
        [type]="field.type"
        [required]="field.required"
        [formControlName]="field.key"
        [placeholder]="field.placeholder"
      />
      <input
        *ngIf="field.type === 'file'"
        class="dff-file"
        [type]="field.type"
        [required]="field.required"
        [formControlName]="field.key"
        [placeholder]="field.placeholder"
        (change)="handleFileUpload($event, field.key)"
      />
      <mat-slide-toggle
        *ngIf="field.type === 'toggle'"
        [formControlName]="field.key"
        [required]="field.required"
        `class="dff-slide-toggle">
        {{field.label}}
      </mat-slide-toggle>
    <button mat-flat-button class="dff-button" type="submit">
      Publish
    </button>
  </div>
</form>
