<div class="home-container">
  <div class="virtual-business-card"
  >
    <img class="home-photo" src="assets/docs/profile.jpg" alt="Michael Lowenstein - Profile Picture" />
    <h3 class="home-banner">{{ site.header!.content }}</h3>
    <h4 class="home-sub-banner">
      <div [innerHTML]="util.sanitizeHtml(site.subheader!.content!.toString())"></div>
    </h4>

    <blockquote class="page-writing">
      <div [innerHTML]="util.sanitizeHtml(site.body!.content!.toString())"></div>
    </blockquote>

    <footer>
      <div [innerHTML]="util.sanitizeHtml(site.footer!.content!.toString())"></div>
    </footer>
  </div>
</div>
