.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.virtual-business-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: zoomIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.virtual-business-card {
  background: #c6c7c8;
  padding: 15px 26px;
  border-radius: 7px;
}

.home-banner {
  font-family: Montserrat;
  margin-top: 16px;
}

.page-writing {
  width: 70vw;
  word-break: break-word;
}

footer {
  text-align: center !important;
}
