<div class="blog-container">
  <!-- Search Bar -->
  <input [(ngModel)]="searchQuery" class="search-bar" placeholder="Search blog posts..." />

  <!-- Create New Post -->
  <button class="new-post-btn" (click)="createNewPost()">+ New Post</button>

  <!-- Blog Post List -->
  <div class="blog-feed" (scroll)="onScroll($event)">
    <div *ngFor="let post of blogposts()" class="blog-post" (click)="viewPost(post!.id)">
      <h2>{{ post!.title }}</h2>
      <h4>{{ post!.subtitle }}</h4>
      <p>{{ post!.content | slice:0:100 }}...</p>
      <small>{{ post!.date }}</small>
      <!-- <button class="edit-btn" (click)="editPost(post.id, $event)">Edit</button>
      <button class="delete-btn" (click)="deletePost(post.id, $event)">Delete</button> -->
    </div>
  </div>
</div>
