<!-- <aside class="sidebar" [class.active]="showContacts">
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img alt="Headshot" [src]="profilePath" loading="lazy">/>
    </figure>X

    <div class="info-content">
      <h1 class="name">{{ me.name }}</h1>
      <p class="title">{{ me.title }}</p>
    </div>

    <button class="info-more-btn" (click)="toggleContacts()">
      <span>Show Contacts</span>
      <mat-icon>chevron_down</mat-icon>
    </button>
  </div>

  <div class="sidebar-info-more">
  </div>
</aside> -->


<!-- Mobile Sidebar -->
<aside class="mobile-sidebar"
      *ngIf="isMobile">
  <div class="sidebar-content">
    <nav class="mobile-nav">
      <button
        *ngFor="let section of availableSlugs"
        class="mobile-nav-item"
        [class.active]="changeSection(section)"
        (click)="changeSection(section, true)">
        {{ section }}
      </button>
    </nav>
  </div>
</aside>
