
<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/docs/profile.jpg" alt="Headshot" />
    </a>
    <button class="navbar-toggle" (click)="toggleMenu()">☰</button>
    <ul [class.active]="menuOpen" class="navbar-links">
      <li *ngFor="let link of links" class="nav-item" (click)="activate(link.path)"
        [ngClass]="{activelink: link.active}">
        <a class="nav-link custom-btn btn-13" routerLink="{{link.path}}">{{link.label}}</a>
      </li>
    </ul>
  </div>
  <div class="navbar-action-items">
    <ul *ngIf="userIsAuthenticated()" [class.active]="menuOpen" class="navbar-links">
      <li *ngFor="let link of links" class="nav-item" (click)="activate(link.path)" [ngClass]="{activelink: link.active}">
        <a class="nav-link custom-btn btn-15" routerLink="{{link.path}}">{{link.label}}</a>
      </li>
    </ul>
    <span class="nav-item" *ngIf="userIsAuthenticated(); else gotoLogin">
      <a class="navbar-action" routerLink="members/pocs">Demos</a>
    </span>
  </div>
</nav>
<mll-notification></mll-notification>
<ng-template #gotoLogin>
  <a class="nav-link custom-btn btn-3" routerLink="/login">Go to Login</a>
</ng-template>

<!-- <span *ngFor="let notification of testNotifications">
      <button mat-button class="navbar-action-btn" (click)="launch(notification)">
        {{notification.type.toUpperCase()}}
      </button>
    </span> -->