.container {
  max-width: 600px;
  margin: auto;
}

.card {
  border-radius: 8px;
}

.btn i {
  margin-right: 5px;
}

.form-control {
  border-radius: 5px;
}

.form-group label {
  font-weight: bold;
}
