<div class="contact-me-container">
  <h1>Contact Me</h1>
  <img class="contact-me-photo" src="assets/docs/profile.jpg" alt="Michael Lowenstein - Profile Picture" />
  <h3 class="contact-me-banner">{{ site.header!.content }}</h3>
  <h4 class="contact-me-sub-banner">
    <div [innerHTML]="util.sanitizeHtml(site.subheader!.content!.toString())"></div>
  </h4>
  <blockquote class="page-writing">
    <form [formGroup]="contactForm" (ngSubmit)="processContactForm()">
      <div class="form-group mb-3">
        <label for="firstname">First Name</label>
        <input matInput
        formControlName="firstname"
        class="fname-field form-control" />
      </div>
      <div class="form-group mb-3">
        <label for="lastname">Last Name</label>
        <input matInput formControlName="lastname" class="lname-field form-control" />
      </div>
      <div class="form-group mb-3">
        <label for="email">Email Address</label>
        <input matInput
          required
          formControlName="email"
          class="email-field form-control" />
        <small class="text-danger" *ngIf="submitted && contactForm.controls['comments'].errors" >
          * Valid email is required
        </small>
      </div>
      <div class="form-group mb-3">
        <label for="email">Owner Vehicle </label>
        <input matInput required formControlName="vehicle" class="car-field form-control" />
        <small class="text-danger" *ngIf="submitted && contactForm.controls['comments'].errors">
          * Valid email is required
        </small>
      </div>
      <button
        type="submit"
        mat-raised-button
        class="contact-me-email"
        (click)="downloadResume()" >
        Submit
      </button>
    </form>
  </blockquote><!-- Submit & Resume Buttons -->
  <div class="text-center">
    <button type="submit" class="btn btn-primary px-4 me-2">
      <i class="pi pi-send"></i> Send Message
    </button>
    <button type="button" class="btn btn-outline-success px-4" (click)="downloadResume()">
      <i class="pi pi-download"></i> Download Resume
    </button>
  </div>

  <footer>
    <div [innerHTML]="util.sanitizeHtml(site.footer!.content!.toString())"></div>
  </footer>
</div>
